<ion-content
  style="
    --background: radial-gradient(
      circle at 10% 20%,
      rgb(149, 219, 254) 0%,
      rgb(7, 134, 197) 90.1%
    );
    z-index: 10;
  "
>
  <ion-toolbar>
    <div class="search-bar-container">
      <ion-searchbar
        placeholder="Renang"
        style="width: 85%; --placeholder-color: gray; --color: #fff"
      >
      </ion-searchbar>
      <!-- Tombol options (filter) di sebelah kanan search bar -->
      <ion-buttons slot="end">
        <ion-button class="filter-button">
          <ion-icon name="options-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
    <!-- Bagian Suggestion -->
    <div class="suggestion-container">
      <span class="suggestion-label">Suggestion:</span>
      <ion-chip>
        <ion-label>Renang</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Bulu Tangkis</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>Sepak Bola</ion-label>
      </ion-chip>
    </div>
  </ion-toolbar>

  <!-- Bagian Rekomendasi -->
  <div class="recommendation">
    <ion-card style="--background: rgba(0, 0, 0, 0.482)">
      <ion-card-header>
        <ion-card-title style="font-weight: bold; color: white;">Recommendation</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item class="avatar-background" style="background-color: rgba(0, 0, 0, 0.482); --inner-border-width: 0;">
          <ion-avatar slot="start"></ion-avatar>
          <ion-label>
            <h2>Trainer Renang Atletik</h2>
            <p>Abdul Rahman</p>
            <p>
              <img src="../../assets/master_file/swimmer.png" class="icon-image"> Renang
            </p>            
            <p>
              <ion-icon name="location-outline" style="color: red"></ion-icon>
              Surakarta
            </p>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Bagian Daftar Pelatih -->
  <div class="trainer">
    <h3>Trainer List</h3>
  </div>

  <div class="activity">

    <ion-card-content>
      <ion-item class="avatar-background" style="background-color: rgba(0, 0, 0, 0.482); --inner-border-width: 0;">
        <ion-avatar slot="start"></ion-avatar>
        <ion-label>
          <h2>Trainer Renang Atletik</h2>
          <p>Abdul Rahman</p>
          <p>
            <img src="../../assets/master_file/swimmer.png" class="icon-image"> Renang
          </p>            
          <p>
            <ion-icon name="location-outline" style="color: red"></ion-icon>
            Surakarta
          </p>
        </ion-label>
      </ion-item>
    </ion-card-content>

    <ion-card-content>
      <ion-item class="avatar-background" style="background-color: rgba(0, 0, 0, 0.482); --inner-border-width: 0;">
        <ion-avatar slot="start"></ion-avatar>
        <ion-label>
          <h2>Trainer Renang Atletik</h2>
          <p>Abdul Rahman</p>
          <p>
            <img src="../../assets/master_file/swimmer.png" class="icon-image"> Renang
          </p>            
          <p>
            <ion-icon name="location-outline" style="color: red"></ion-icon>
            Surakarta
          </p>
        </ion-label>
      </ion-item>
    </ion-card-content>

    <ion-card-content>
      <ion-item class="avatar-background" style="background-color: rgba(0, 0, 0, 0.482); --inner-border-width: 0;">
        <ion-avatar slot="start"></ion-avatar>
        <ion-label>
          <h2>Trainer Renang Atletik</h2>
          <p>Abdul Rahman</p>
          <p>
            <img src="../../assets/master_file/swimmer.png" class="icon-image"> Renang
          </p>            
          <p>
            <ion-icon name="location-outline" style="color: red"></ion-icon>
            Surakarta
          </p>
        </ion-label>
      </ion-item>
    </ion-card-content>

  </div>
</ion-content>
