<ion-content
  style="
    --background: radial-gradient(
      circle at 10% 20%,
      rgb(149, 219, 254) 0%,
      rgb(7, 134, 197) 90.1%
    );
    z-index: 10;
    background-color: transparent; /* Memastikan latar belakang tidak hitam */
  "
>
  <div
    style="
      overflow: hidden;
      box-shadow: 5px 5px 10px #0b0b0b;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 320px;
      border-radius: 50px;
      z-index: 30; /* Pastikan elemen ini di atas konten lainnya */
      top: -50px;
    "
  >
    <div
      style="
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.482);
      "
    ></div>

    <div
      style="
        background: url('../../assets/img/master_file/SPORTFLUX-LOGO.png') no-repeat center;
        background-size: contain;
        height: 100px;
        width: 40%;
        position: absolute;
        top: 27%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 3px;
      "
    ></div>

    <div
      style="
        position: absolute;
        border-radius: 20px;
        background: rgba(0, 0, 0, 0.482);
        box-shadow: 5px 5px 10px #0b0b0b;
        bottom: 70px;
        left: 20px;
        width: 100px;
        height: 100px;
        z-index: 50;
      "
    ></div>

    <div
      style="
        background: url('../../assets/img/master_file/IM3.png') no-repeat center;
        position: absolute;
        width: 150px;
        height: 100px;
        z-index: 50;
        bottom: 70px;
        background-size: contain;
      "
    ></div>

    <div
      style="
        position: absolute;
        border-radius: 20px;
        background: rgba(0, 0, 0, 0.482);
        box-shadow: 5px 5px 10px #0b0b0b;
        bottom: 70px;
        left: 140px;
        right: 20px;
        width: auto;
        height: 100px;
        display: flex;
      "
    >
      <div
        style="
          width: 50%;
          height: 100%;
          border-top-left-radius: 18px;
          border-bottom-left-radius: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
        "
      >
        <div style="text-align: center;">
          <p style="font-weight: bold; color: white;">Device<br>Connected</p>
          <p style="font-weight: bold; color: white;">20</p>
        </div>
      </div>

      <div
        style="
          width: 50%;
          height: 100%;
          background-color: rgb(0, 61, 103);
          border-top-right-radius: 18px;
          border-bottom-right-radius: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
        "
      >
        <div style="text-align: center;">
          <p style="font-weight: bold; color: white;">Data<br>Stream</p>
          <p style="font-weight: bold; color: white;">20</p>
        </div>
      </div>
    </div>

    <div
      style="
        position: absolute;
        width: 100vw;
        height: 50px;
        padding: 5px;
        padding-left: 30px;
        padding-right: 30px;
      "
    ></div>
  </div>

  <div class="activity" style="margin-top: 300px;">
    <h3 style="text-align: center; color: rgb(0, 0, 0);">My Activity</h3>

    <div
      style="
        display: flex;
        border-radius: 20px;
        background: rgb(0, 61, 103);
        box-shadow: 5px 5px 10px #0b0b0b;
        margin: 20px; /* Adjust margin for spacing */
        height: auto;
        justify-content: center;
        width: calc(100% - 40px); /* Atur lebar mengisi kontainer dengan margin dikurangi */
        max-width: 800px; /* Atur lebar maksimum jika perlu */
      "
    >
      <div
        style="
          flex: 0 0 40%; /* Mengatur lebar 40% untuk sisi kiri */
          height: auto;
          border-top-left-radius: 18px;
          border-bottom-left-radius: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-size: cover; /* Cover untuk mengisi kontainer */
          padding: 10px; /* Tambahkan padding untuk memberi ruang di dalam div */
        "
      >
        <img
          src="../../assets/img/master_file/IM2.png"
          alt="EMG Icon"
          style="max-width: 95px; height: auto; transform: rotate(45deg);"
        />
      </div>

      <div
        style="
          flex: 0 0 60%; /* Mengatur lebar 60% untuk sisi kanan */
          height: auto;
          background-color: rgb(45, 109, 141);
          border-top-right-radius: 18px;
          border-bottom-right-radius: 18px;
          display: flex;
          align-items: center; /* Center vertically */
          padding: 15px; /* Tambahkan padding untuk memberi ruang di dalam div */
          margin-left: 5px; /* Small left margin for spacing */
        "
      >
        <div style="color: white;">
          <p style="font-size: 22px; font-weight: bold; margin: 0;">A1</p>
          <p style="margin: 5px 0;">Duration      : 00:05:01</p>
          <p style="margin: 5px 0;">Datastream    : 2MB</p>
          <p style="margin: 5px 0;">Battery level : 100%</p>
          <p style="margin: 5px 0;">Status        : Active</p>
          <img
            src="../../assets/img/master_file/bat.png"
            alt="EMG Icon"
            style="max-width: 95px; height: auto; margin-top: 10px;"
          />
        </div>
      </div>
    </div>

    <div
      style="
        display: flex;
        border-radius: 20px;
        background: rgb(0, 61, 103);
        box-shadow: 5px 5px 10px #0b0b0b;
        margin: 20px; /* Adjust margin for spacing */
        height: auto;
        justify-content: center;
        width: calc(100% - 40px); /* Atur lebar mengisi kontainer dengan margin dikurangi */
        max-width: 800px; /* Atur lebar maksimum jika perlu */
      "
    >
      <div
        style="
          flex: 0 0 40%; /* Mengatur lebar 40% untuk sisi kiri */
          height: auto;
          border-top-left-radius: 18px;
          border-bottom-left-radius: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-size: cover; /* Cover untuk mengisi kontainer */
          padding: 10px; /* Tambahkan padding untuk memberi ruang di dalam div */
        "
      >
        <img
          src="../../assets/master_file/IM2.png"
          alt="EMG Icon"
          style="max-width: 95px; height: auto; transform: rotate(45deg);"
        />
      </div>

      <div
        style="
          flex: 0 0 60%; /* Mengatur lebar 60% untuk sisi kanan */
          height: auto;
          background-color: rgb(45, 109, 141);
          border-top-right-radius: 18px;
          border-bottom-right-radius: 18px;
          display: flex;
          align-items: center; /* Center vertically */
          padding: 15px; /* Tambahkan padding untuk memberi ruang di dalam div */
          margin-left: 5px; /* Small left margin for spacing */
        "
      >
        <div style="color: white;">
          <p style="font-size: 22px; font-weight: bold; margin: 0;">A2</p>
          <p style="margin: 5px 0;">Duration      : 00:05:01</p>
          <p style="margin: 5px 0;">Datastream    : 2MB</p>
          <p style="margin: 5px 0;">Battery level : 100%</p>
          <p style="margin: 5px 0;">Status        : Active</p>
          <img
            src="../../assets/master_file/bat.png"
            alt="EMG Icon"
            style="max-width: 95px; height: auto; margin-top: 10px;"
          />
        </div>
      </div>
    </div>

    <div
      style="
        display: flex;
        border-radius: 20px;
        background: rgb(0, 61, 103);
        box-shadow: 5px 5px 10px #0b0b0b;
        margin: 20px; /* Adjust margin for spacing */
        height: auto;
        justify-content: center;
        width: calc(100% - 40px); /* Atur lebar mengisi kontainer dengan margin dikurangi */
        max-width: 800px; /* Atur lebar maksimum jika perlu */
      "
    >
      <div
        style="
          flex: 0 0 40%; /* Mengatur lebar 40% untuk sisi kiri */
          height: auto;
          border-top-left-radius: 18px;
          border-bottom-left-radius: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-size: cover; /* Cover untuk mengisi kontainer */
          padding: 10px; /* Tambahkan padding untuk memberi ruang di dalam div */
        "
      >
        <img
          src="../../assets/master_file/IM2.png"
          alt="EMG Icon"
          style="max-width: 95px; height: auto; transform: rotate(45deg);"
        />
      </div>

      <div
        style="
          flex: 0 0 60%; /* Mengatur lebar 60% untuk sisi kanan */
          height: auto;
          background-color: rgb(45, 109, 141);
          border-top-right-radius: 18px;
          border-bottom-right-radius: 18px;
          display: flex;
          align-items: center; /* Center vertically */
          padding: 15px; /* Tambahkan padding untuk memberi ruang di dalam div */
          margin-left: 5px; /* Small left margin for spacing */
        "
      >
        <div style="color: white;">
          <p style="font-size: 22px; font-weight: bold; margin: 0;">A3</p>
          <p style="margin: 5px 0;">Duration      : 00:05:01</p>
          <p style="margin: 5px 0;">Datastream    : 2MB</p>
          <p style="margin: 5px 0;">Battery level : 100%</p>
          <p style="margin: 5px 0;">Status        : Active</p>
          <img
            src="../../assets/master_file/bat.png"
            alt="EMG Icon"
            style="max-width: 95px; height: auto; margin-top: 10px;"
          />
        </div>
      </div>
    </div>

    <div
      style="
        display: flex;
        border-radius: 20px;
        background: rgb(0, 61, 103);
        box-shadow: 5px 5px 10px #0b0b0b;
        margin: 20px; /* Adjust margin for spacing */
        height: auto;
        justify-content: center;
        width: calc(100% - 40px); /* Atur lebar mengisi kontainer dengan margin dikurangi */
        max-width: 800px; /* Atur lebar maksimum jika perlu */
      "
    >
      <div
        style="
          flex: 0 0 40%; /* Mengatur lebar 40% untuk sisi kiri */
          height: auto;
          border-top-left-radius: 18px;
          border-bottom-left-radius: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-size: cover; /* Cover untuk mengisi kontainer */
          padding: 10px; /* Tambahkan padding untuk memberi ruang di dalam div */
        "
      >
        <img
          src="../../assets/master_file/IM2.png"
          alt="EMG Icon"
          style="max-width: 95px; height: auto; transform: rotate(45deg);"
        />
      </div>

      <div
        style="
          flex: 0 0 60%; /* Mengatur lebar 60% untuk sisi kanan */
          height: auto;
          background-color: rgb(45, 109, 141);
          border-top-right-radius: 18px;
          border-bottom-right-radius: 18px;
          display: flex;
          align-items: center; /* Center vertically */
          padding: 15px; /* Tambahkan padding untuk memberi ruang di dalam div */
          margin-left: 5px; /* Small left margin for spacing */
        "
      >
        <div style="color: white;">
          <p style="font-size: 22px; font-weight: bold; margin: 0;">A4</p>
          <p style="margin: 5px 0;">Duration      : 00:05:01</p>
          <p style="margin: 5px 0;">Datastream    : 2MB</p>
          <p style="margin: 5px 0;">Battery level : 100%</p>
          <p style="margin: 5px 0;">Status        : Active</p>
          <img
            src="../../assets/master_file/bat.png"
            alt="EMG Icon"
            style="max-width: 95px; height: auto; margin-top: 10px;"
          />
        </div>
      </div>
    </div>

  </div>
</ion-content>