<ion-content>
  <div
      style="
          overflow: hidden;
          box-shadow: 5px 5px 10px #0b0b0b;
          position: absolute;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100px;
          border-radius: 50px;
          z-index: 30;
          top: -50px;
          padding-top: 0;
      "
  >
      <div
          style="
              position: absolute;
              width: 100%;
              height: 100%;
              background: rgba(0, 0, 0, 0.482);
          "
      ></div>
      <div
          style="
              background: url('../../assets/master_file/SPORTFLUX-LOGO.png') no-repeat center;
              background-size: contain;
              height: 130px;
              width: 40%;
              position: absolute;
              top: 70%;
              left: 50%;
              transform: translate(-50%, -50%);
              margin-top: 3px;
          "
      ></div>
  </div>

  <!-- chat -->
  <div class="chat-box">
      <div class="message">
          <img src="../../assets/master_file/starpfp.png" alt="Avatar" class="avatar">
          <div class="text">  
              Permisi selamat malam kak, izin berkonsultasi kak terkait cedera latihan
          </div>
      </div>

      <div class="message">
          <div class="text">
              Baiklah silahkan ceritakan seperti apa yang anda rasakan selama ini ?
          </div>
          <img src="https://www.w3schools.com/w3css/img_avatar2.png" alt="Avatar" class="avatar">
      </div>
  </div>

  <!-- input box -->
  <div class="input-box">
      <input placeholder="Type here ..." type="text"/>
      <ion-icon name="send-sharp"></ion-icon>
  </div>
</ion-content>
