<ion-content
  style="
    --background: radial-gradient(
      circle at 10% 20%,
      rgb(149, 219, 254) 0%,
      rgb(7, 134, 197) 90.1%
    );
    z-index: 10;
  "
>
  <div
    style="
      overflow: hidden;
      box-shadow: 5px 5px 10px #0b0b0b;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 300px;
      border-radius: 50px;
      z-index: 30;
      top: -50px;
      margin-top: 20px;
    "
  >
    <div
      style="
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.482);
      "
    ></div>

    <div
      style="
        background: url(../../assets/img/master_file/SPORTFLUX-LOGO.png)
          no-repeat center;
        height: 60px;
        width: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 22%;
        left: 50%;
        background-size: contain;
      "
    ></div>

    <div
      style="
        box-shadow: 5px 5px 10px #0b0b0b;
        overflow: hidden;
        position: absolute;
        border-radius: 20px;
        width: 100px;
        height: 100px;
        z-index: 50;
        bottom: 100px;
        left: 20px;
      "
    >
      <div
        style="
          background: url(https://www.w3schools.com/w3css/img_avatar2.png);
          position: absolute;
          width: 100px;
          height: 100px;
          background-size: 100px 100px;
        "
      ></div>
    </div>
    <div
      style="
        position: absolute;
        border-radius: 18px;
        background: rgba(0, 0, 0, 0.482);
        box-shadow: 5px 5px 10px #0b0b0b;
        bottom: 100px;
        left: 140px;
        right: 20px;
        width: auto;
        height: 100px;
      "
    >
      <p
        style="
          position: absolute;
          width: 100%;
          padding-left: 5px;
          padding-right: 5px;
          left: 10px;
          font-weight: bold;
          color: white;
        "
      >
        USER 1
      </p>
      <p
        style="
          position: absolute;
          padding-left: 5px;
          padding-right: 5px;
          left: 10px;
          font-weight: bold;
          top: 25px;
          background: green;
          color: white;
          border-radius: 20px;
        "
      >
        80% Healty<ion-icon name="accessibility" class="icon"></ion-icon>
      </p>
      <p
        style="
          position: absolute;
          padding-left: 5px;
          padding-right: 5px;
          left: 10px;
          font-weight: bold;
          top: 50px;
          background: rgb(0, 90, 90);
          color: white;
          border-radius: 20px;
        "
      >
        100 EMG Record<ion-icon class="icon" name="pulse"></ion-icon>
      </p>
      <div style="
        background: url('../../assets/img/master_file/PREMIUM.png') no-repeat center;
        background-size: contain;
        width: 30%; /* Atur lebar sesuai kebutuhan */
        height: 100px; /* Atur tinggi sesuai kebutuhan */
        position: absolute;
        right: 0; /* Agar elemen berada di sisi kanan */">
      </div>
    </div>
    <div
      style="
        position: absolute;
        width: 100vw;
        bottom: 40px;
        height: 50px;
        padding: 5px;
        padding-left: 30px;
        padding-right: 30px;
      "
    >
      <ion-button
        shape="round"
        expand="full"
        style="font-weight: bold; color: white; --background: rgba(0, 0, 0, 0.482) !important"
        >Dashboard</ion-button
      >
    </div>
  </div>

  <ion-grid style="margin-top: 260px">
    <ion-row>
      <div
        [routerLink]=""
        style="
          overflow: scroll;
          box-shadow: 5px 5px 10px #0b0b0b;
          margin: 20px 5px;
          width: 100%;
          background: rgba(2, 7, 14, 0.418);
          border-radius: 30px;
          z-index: 30;
        "
      >
        <ion-grid style="z-index: 120">
          <ion-row>
            <ion-col button>
              <div class="card2" style="width: 100%; height: 300px">
                <canvas id="emgChart" style="width: 100%; height: 100%"></canvas>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div
          [routerLink]=""
          style="
            font-weight: bold;
            z-index: 120;
            width: 100%;
            height: 40px;
            padding: 10px 0;
            color: white;
            text-align: center;
            background: rgba(0, 0, 0, 0.482);
            cursor: pointer; /* Tambahkan ini agar tampak seperti tombol */
          "
          (click)="navigateToDiagnose()"
        >
          Live Record Channel 1 Device 1
        </div>
      </div>
    </ion-row>
  </ion-grid>

  <ion-row style="justify-content: center">
    <div
      style="
        overflow: scroll;
        box-shadow: 5px 5px 10px #0b0b0b;
        width: 100%;
        background: rgba(0, 0, 0, 0.418);
        border-radius: 30px;
        z-index: 30;
      "
    >
      <ion-grid>
        <div
          [routerLink]=""
          style="
            font-weight: bold;
            z-index: 120;
            width: 100%;
            height: 40px;
            padding: 10px 0;
            color: white;
            text-align: center;
          "
        >
          Connected SportFlux EMG
        </div>
        <ion-row style="justify-content: space-between; width: 100%">
          <ion-col size="1.5" style="text-align: center">
            <img
              src="../../assets/master_file/IM2.png"
              id="sportflux-emg"
              alt="Device A1"
              style="width: 80px; height: auto"
            />
            <p style="color: white">A1</p>
          </ion-col>
          <ion-col size="1.5" style="text-align: center">
            <img
              src="../../assets/master_file/IM2.png"
              id="sportflux-emg"
              alt="Device A2"
              style="width: 80px; height: auto"
            />
            <p style="color: white">A2</p>
          </ion-col>
          <ion-col size="1.5" style="text-align: center">
            <img
              src="../../assets/master_file/IM2.png"
              id="sportflux-emg"
              alt="Device A3"
              style="width: 80px; height: auto"
            />
            <p style="color: white">A3</p>
          </ion-col>
          <ion-col size="1.5" style="text-align: center">
            <img
              src="../../assets/master_file/IM2.png"
              id="sportflux-emg"
              alt="Device A4"
              style="width: 80px; height: auto"
            />
            <p style="color: white">A4</p>
          </ion-col>
          <ion-col size="1.5" style="text-align: center">
            <img
              src="../../assets/master_file/IM2.png"
              id="sportflux-emg"
              alt="Device A5"
              style="width: 80px; height: auto"
            />
            <p style="color: white">A5</p>
          </ion-col>
          <ion-col size="1.5" style="text-align: center">
            <img
              src="../../assets/master_file/IM2.png"
              id="sportflux-emg"
              alt="Device A6"
              style="width: 80px; height: auto"
            />
            <p style="color: white">A6</p>
          </ion-col>
          <ion-col size="1.5" style="text-align: center">
            <img
              src="../../assets/master_file/IM2.png"
              id="sportflux-emg"
              alt="Device A7"
              style="width: 80px; height: auto"
            />
            <p style="color: white">A7</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-row>

  <ion-row>
    <div
      style="
        overflow: scroll;
        box-shadow: 5px 5px 10px #0b0b0b;
        width: 100%;
        margin: 30px 5px;
        background: rgba(0, 0, 0, 0.418);
        border-radius: 30px;
        z-index: 30;
      "
    >
      <ion-grid style="margin-bottom: 20px;">
        <ion-row>
          <ion-col size="4" class="ion-text-center">
            <div
              class="card"
              style="
                border-radius: 18px;
                background: rgba(0, 0, 0, 0.482);
                padding: 10px;
              "
            >
              <div style="font-size: 30px; margin-bottom: 5px">👥</div>
              <!-- Replace with your icon -->
              <div style="color: white">SportFlux Hub</div>
            </div>
          </ion-col>
          <ion-col size="4" class="ion-text-center">
            <div
              class="card"
              style="
                border-radius: 18px;
                background: rgba(0, 0, 0, 0.482);
                padding: 10px;
              "
            >
              <div style="font-size: 30px; margin-bottom: 5px">💆‍♂</div>
              <!-- Replace with your icon -->
              <div style="color: white">SportFlux Fisioterapis</div>
            </div>
          </ion-col>
          <ion-col size="4" class="ion-text-center">
            <div
              class="card"
              style="
                border-radius: 18px;
                background: rgba(0, 0, 0, 0.482);
                padding: 10px;
              "
            >
              <div style="font-size: 30px; margin-bottom: 5px">🏅</div>
              <!-- Replace with your icon -->
              <div style="color: white">SportFlux Trainer</div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-row>

</ion-content>