@keyframes grow {
  from {
    width: 0%
  }
  to {
    width: 100%;
  }
}
html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}
body {
  background: #26323D;
  background-image: radial-gradient(transparent 65%, rgba(black, 0.3));
  font-family: sans-serif;
}
#container {

  width: 38vw;
  margin-left : 5vw; 


  
}
input {
  display: none;
  
}
label {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  background: transparent;

  overflow: hidden;
  box-shadow: -2px 0 8px 0 rgba(white, 0.6);
  div {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #A3E2EF 35%, #4F9CC0);
    height: 100%;
    width: 0%;
    animation: grow 2s forwards;
    box-shadow: 0 0 8px 1px white inset;
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: url(https://media0.giphy.com/media/3oxHQryzE4MqLlRFBu/giphy.gif);
      mix-blend-mode: overlay;
      opacity: 0.5;
    }
  }
}
span {
  display: inline-block;
  color: #4F9CC0;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-top: 0.7rem;
  &:last-child {
    float: right;
  }
}

.icon{
  animation: flash 2s linear infinite;
}

ion-slide >:first-child {
  width: 100%;
  }
svg:nth-child(2){
  filter : blur(20px);
}

@keyframes flash {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
  
  
  100% {
    opacity: 1;
  }
}









/* ------ Default Style ---------- */
.gauge-container {
  width: 150px;
  height: 150px;



  border-radius: 10px;
  position: relative;
}

ion-row {
  text-align: center;
  }


  .card {

    margin: 20px auto;
    display : block;

  }


  .card2 {

    margin: 5px auto;
    display : block;

  }


  svg{
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  }

  #sportflux-emg{
    transform: rotate(90deg);
    width: 50%;
    height: 50%;
  }

  #sportflux-logo{
    height: 70px;
    width: auto;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 5%;
    left: 50%;
    background-size: contain;
    justify-content: center;
    margin-top: 3px;
  }